:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
}
 
.header
{
	display: flex;
	align-items: center;
	justify-content: center;
	 
}
h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
	margin-top: 1rem;
	text-align: center;
}

#new-task-form {
	display: flex;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	 width: 530px;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
	border: 1px solid yellow;
}

#new-task-input::placeholder {
	color: var(--grey);
}


main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: crimson;
}

.buysellbtn{
    display:flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid greenyellow; */
  }
.parallelogram1
{
	width: 105px;
	height: 60px;
	transform: skew(-20deg);
	background:#4aa50d;
    margin-right: 5px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 15px;
    color: #fff !important;
    font-weight: 800;
	 
	 
}

.parallelogram2
{
	width: 105px;
	height: 60px;
	transform: skew(-20deg);
	background: #FE3957;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 10px;
    color: #fff !important;
    font-weight: 800;
	 
}
